# Python - Writing First Python Code!

Say "Hello" to the world in Python

In [1]:
print('Hello, Python!')

Hello, Python!

What version of Python are we using?

In [2]:
#sys is a built-in module that contains many system-specific parameters and functions, 
#including the Python version in use. Before using it, we must explictly import it.

import sys
print(sys.version)

3.6.4 |Anaconda, Inc.| (default, Jan 16 2018, 10:22:32) [MSC v.1900 64 bit (AMD64)]

Writing comments in Python

In [ ]:
#To write comments in Python, use the number symbol # before writing your comment.

print('Hello, Python!') # This line prints a string
# print('Hi')

Errors in Python

In [3]:
#SyntaxError Example
print("Hello, Python!)

SyntaxError: EOL while scanning string literal (<ipython-input-3-c10a1b330477>, line 1)

In [4]:
#Python will stop executing the entire program when it encounters an error 

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

### Types of objects in Python

In [8]:
# The following code cells contain some examples.

11 # integer

11

In [7]:
2.14 # float

2.14

In [9]:
"Hello, Python 101!" # string

'Hello, Python 101!'

In [10]:
#You can get Python to tell you the type of an expression by using the built-in type() function.
type(12)

int

In [11]:
type(2.14)

float

In [12]:
type("Hello, Python 101!")

str

#### Integers

In [13]:
# Integers can be negative or positive numbers:
type(-1)

int

In [14]:
type(4)

int

In [15]:
type(0)

int

#### Floats

In [ ]:
type(1.0) # Notice that 1 is an int, and 1.0 is a float

In [ ]:
type(0.5)

In [ ]:
type(0.56)

### Converting from one object type to a different object type

In [18]:
type(2) # Verify that this is an integer

int

In [19]:
float(2) # Convert 2 to a float

2.0

In [20]:
type(float(2)) # Convert integer 2 to a float and check its type

float

In [21]:
int(1.1) # Casting 1.1 to integer will result in loss of information

1

#### Converting from strings to integers or floats

In [22]:
int('1') # Convert a string into an integer

1

In [23]:
# if you try to do so with a string that is not a perfect match for a number, you'll get an error.
int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [24]:
float('1.2') # Convert the string "1.2" into a float
# Note that strings can be represented with single quotes ('1.2') or double quotes ("1.2"), but you can't mix both (e.g., "1.2').

1.2

#### Converting numbers to strings

In [26]:
str(1) # Convert an integer to a string

'1'

In [27]:
str(1.2) # Convert a float to a string

'1.2'

#### Boolean data type

In [29]:
type(True)

bool

In [30]:
type(False)

bool

In [31]:
#We can cast boolean objects to other data types.
#If we cast a boolean with a value of True to an integer or float we will get a one.
int(True)

1

In [ ]:
bool(1)

In [32]:
bool(0)

False

In [33]:
float(True)

1.0

In [34]:
type(6/2)

float

In [35]:
type(6//2) #as the double slashes stand for integer division answer will be integer.

int

### Expression and Variables

In [36]:
# Python can include operations among compatible types (e.g., integers and floats).
43 + 60 + 16 + 41 # addition

160

In [37]:
50 - 60 # subtraction

-10

In [38]:
5 * 5 #multiplication

25

In [40]:
# We can also perform division with the forward slash:
25 / 5

5.0

In [41]:
# we can use the double slash for integer division, where the result is rounded to the nearest intege
25 // 5

5

#### Let's write an expression that calculates how many hours there are in 160 minutes:

In [42]:
min= 160
hours=160/60
print(hours)

2.6666666666666665

In [43]:
 30 + 2 * 60 # Python adds 30 to the result of the multiplication (i.e., 120)

150

In [44]:
(30 + 2) * 60 # parentheses have priority, So the following multiplies 32 by 60.

1920

### Variables

In [45]:
# Just like with most programming languages, we can store values in variables
x = 43 + 60 + 16 + 41

In [46]:
# We can also perform operations on x and save the result to a new variable
y = x / 60
y

2.6666666666666665

In [47]:
# If we save a value to an existing variable, the new value will overwrite the previous value
x = x / 60
x

2.6666666666666665

In [48]:
# It's a good practice to use meaningful variable names
total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [49]:
total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

In [50]:
total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667

In [51]:
# You can also do it all at once in a single expression, 
# as long as you use parenthesis to add the albums length before you divide,

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667