### String Operations

In [2]:
# A string is contained within 2 quotes
"Michael Jackson"

'Michael Jackson'

In [3]:
# You can also use single quotes
'Michael Jackson'

'Michael Jackson'

In [4]:
# A string can be spaces and digits
'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [5]:
# A string can also be special characters
'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [7]:
# We can bind or assign a string to another variable
Name= "Michael Jackson"
Name

'Michael Jackson'

### Indexing

In [10]:
# The first index can be accessed as follows
print(Name[0])

M

In [11]:
# The last element is given by the index -1
print(Name[-1])

n

In [12]:
# The first element can be obtained by index -15
print(Name[-15])

M

In [13]:
# We can find the number of characters in a string by using 'len', short for length
len("Michael Jackson")

15

In [14]:
# We can obtain multiple characters from a string using slicing
Name[0:4]

'Mich'

In [15]:
# We can also input a stride value as follows, with the '2' indicating that we are selecting every second variable
Name[::2]

'McalJcsn'

In [16]:
# We can also incorporate slicing with the stride
Name[0:5:2]

'Mca'

In [17]:
# We can concatenate or combine strings by using the addition symbols, 
# and the result is a new string that is a combination of both

Statement = Name + "is the best"
Statement

'Michael Jacksonis the best'

In [19]:
# To replicate values of a string we simply multiply the string by the number of times we would like to replicate
3*"Michael Jackson "

'Michael Jackson Michael Jackson Michael Jackson '

In [20]:
# You can create a new string by setting it to the original variable
Name= "Michael Jackson"
Name= Name+" is the best"
Name

'Michael Jackson is the best'

### Escape Sequences

In [22]:
# Back slashes represent the beginning of escape sequences.
# back slash "n" represents a new line
print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [24]:
# back slash "t" represents a tab
print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [25]:
# If you want to place a back slash in your string, use a double back slash
print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [26]:
# We can also place an "r" before the string to display the backslash
print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

### String Operations

In [27]:
# "upper": this method converts lower case characters to upper case characters

A="Thriller is the sixth studio album"
print("before upper:",A)
B=A.upper()
print("After upper:",B)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [28]:
# The method replaces a segment of the string
A="Michael Jackson is the best"
B=A.replace('Michael', 'Janet')
B

'Janet Jackson is the best'

In [29]:
# The method "find" finds a sub-string
Name="Michael Jackson"
Name.find('el')

5

In [30]:
Name.find('Jack')

8

In [31]:
# If the sub-string is not in the string then the output is a negative one
Name.find('Jasdfasdasdf')

-1

In [32]:
A="1"

In [33]:
B="2"

In [35]:
C=A+B
print(C)

12